<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BookCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings><add name="CatDbEntities1" connectionString="metadata=res://*/BookModel.csdl|res://*/BookModel.ssdl|res://*/BookModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\db\CatDb.sdf&quot;" providerName="System.Data.EntityClient" /><add name="CatDbEntities" connectionString="metadata=res://*/BookModel.csdl|res://*/BookModel.ssdl|res://*/BookModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\db\CatDb.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <BookCat.Properties.Settings>
      <setting name="strSearchSites" serializeAs="String">
        <value />
      </setting>
      <setting name="fsplit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalDumbComputer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bookFileExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>djvu</string>
            <string>pdf</string>
            <string>chm</string>
            <string>rar</string>
            <string>zip</string>
          </ArrayOfString>
        </value>
      </setting>
    </BookCat.Properties.Settings>
  </userSettings>
</configuration>